.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: black;
}

.grid{
   -fx-background-color: linear-gradient(#9b15ab, #a440b0, #b351bf);
}